@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(0, 0, 0) !important;
}

.cont-cards {
    display: flex;
    justify-content: center;
}


@media (max-width: 1200px) {
    .card-group {
        display: flex;
        flex-flow: row wrap;
        margin-left: 5rem;
    }
}


#card-soli {
    max-width: 30.7rem;
}

.App {
    text-align: center;
    background-color: #b1adad00;
}


.scale {
    transform: scale(0.85);
    /* Igual que: scaleX(0.7) scaleY(0.7) */
    margin-top: -6rem;

}

.btn-submit {
    display: flex;
    justify-content: flex-end;
}

.App-link {
    color: #61dafb;
}


.grids {
    padding-left: 20%;
    padding-right: 20%;
}

.formulario {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;

}

.table-responsive {
    margin-inline: 0.3rem;
}

.login {
    background-image: linear-gradient(rgba(255, 255, 255, 0.781), rgba(255, 255, 255, 0.5)), url(../components/img/bg.jpg);
    background-size: cover;
    padding-top: 3rem;
    height: 100vh;
}

.titulo {
    color: #605252d1;
    font-family: "Assistant", "Helvetica", "Arial", sans-serif;
}

body {
    font-family: 'Assistant', sans-serif;
}

.form-select:focus {

    border-color: #f5822099 !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {

    color: #000000e0 !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: #000000e0 !important;

}

.css-gi7hi0-MuiTypography-root {
    color: #000000e0 !important;

}

/*

  .btn-flat{
    color: #000000e0 !important;
    background-color: rgb(255, 255, 255) !important;
    border-color:rgb(200, 200, 200) !important;
  }

  .btn-flat:hover{
   background-color:#ced4da!important;
  }

  .btn{
    border-color:rgb(200, 200, 200) !important;
  }

.form-select:focus {
    border-color: #0027c599 !important;
    box-shadow: 0 0 0 0.25rem #002df399 !important;
}

.form-control:focus {
    border-color: #24252999 !important;
    box-shadow: 0 0 0 0.25rem #91939c99 !important;

}
*/
html {
    padding: 0;
    margin: 0;
    background-color: #d3cdcd;

}

* {
    margin: 0px;
    padding: 0px;
}

#guardar {

    margin-left: 2px;

}