.tareas-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agregar-tarea {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agregar-tarea input {
    margin-right: 10px;
    width: 200px;
}

.list-group-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.list-group-item input {
    margin-right: 10px;
    flex: 1;
    border: none;
}

.list-group-item button {
    flex: 0;
}

.list-group-item button:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}

.list-group-item button:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    border-color: #dc3545;
}

.linea {
    margin: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.tareas {
    padding-left: 20px;
}