.tareas-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    ;
}

.agregar-tarea {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.btn-tarea {
    float: left;
}

.agregar-tarea input {
    margin-right: 10px;
    width: 400px !important;
    /* Modificar el ancho del input */
    flex: 1;

}

.list-group-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.list-group-item input {
    margin-right: 10px;
    flex: 1;
    border: none;
    width: 400px;
    /* Modificar el ancho del input */
}

.list-group-item button {
    flex: 0;
}

.list-group-item button:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}

.list-group-item button:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    border-color: #dc3545;
}